# Terraform files
.terraform/
*.tfstate
*.tfstate.backup

# Sensitive variables
*.tfvars
!*.tfvars.example

# Crash & logs
crash.log
*.log

# Plan files
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json