# GCP CONFIGURATION
project = "your-gcp-project-id"
region  = "asia-southeast1"
zone    = "asia-southeast1-c"

# VM CONFIGURATION
vm_name      = "k3s"
machine_type = "e2-medium"
environment  = "dev"

# NETWORK & SECURITY
source_ranges = ["0.0.0.0/0"] # restrict this in production
allowed_ports = ["22", "80", "443", "6443"]

# INFRA REPOSITORY
repo_url = "https://github.com/your-username/infra-k3s.git"

# SSH CONFIGURATION
public_key_path = "~/.ssh/id_ed25519.pub"